.CommentContainer {
  margin-top: 3em;
  min-width: 35em;
  max-width: 35em;
}

.errorMsg {
  color: red;
  text-align: center;
}

.noComments {
  color: white;
  font: 28px;
  font-style: italic;
}

.commentsHeader {
  color: tomato;
  font-weight: 600;
  margin-top: 0;
}

h2, h3, h4 {
  color: white;
  font-weight: 600;
}

.CommentForm {
  margin-bottom: 2em;
  box-shadow: inset 0 0 10px;
  padding: 1.5em;
}

textarea {
  width: 100%;
  margin-bottom: 0.5em;
  background-color: lightgrey;
  border-color: white;
  border-width: thin;
  height: 4em;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.nameInputArea {
   margin-bottom: 0.5em;
   background-color: lightgrey;
   border-color: white;
   border-width: thin;
   height: 1.5em;
   width: 15em;
   font-size: 16px;
}

.postBtn {
    width: 4em;
    background-color: lightgrey;
    border-color: white;
    border-width: thin;
    padding: 4px;
    border-radius: 5px;
}